footer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
  }
  
 footer a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
  }

